<div class="r-header">Where is this on the screen?</div>


<div class="r-sidebar">Where is this on the screen?</div>


<div class="r-body container-fluid">
    <div class="row" id="row-main">
        <div class="col-md-9" id="content">
        </div>
    </div>
</div>