
<div id="r-header" class="r-header"></div>

<div class="container-fluid">
	<div class="row is_flex card-group" style="margin-top: 35px;">
  		<div id="sidebar" class="col-sm-3 card card-block"></div>
  		<div id="r-body" class="col-sm-9"></div>
	</div>
</div>

<div id="footer" class="footer"></div>

