@import "bootstrap/less/bootstrap";
@import "VistASurgery";

.starter-template {
    text-align: center;
    margin-top: 120px;
}

.vsgui-navbar {
	height:2em;
}


.r-sidebar {    /* Needs to be cleaned up a bit */
  margin-top: 60px;
  width: 30em;
  color: red;
}