<!--

<h1>About <abbr title="Veterans Health Information Systems &amp; Technology Architecture">VistA</abbr> Surgery</h1>

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
-->


<!-- Modal -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">


  <div class="login-form-container">
    <div class="login-container">

    <div class="modal-header">
      <h1 class="logo text-center" aria-hidden="true">
      <abbr title="Veterans Health Information Systems &amp; Technology Architecture">VistA</abbr> Surgery
      </h1>
      </div>

      <div class="modal-body login-container-body">
        <p class="sr-only">All fields are required</p>
        <div id="login-form-region">
          <form action="#" method="post" class="text-left adk-form form-container">
            <p class="sr-only">* indicates a required field. Tab to enter form.</p>

            <div>
              <p id="errorMessage" class="text-danger text-center bottom-padding-xs" aria-live="assertive"></p>
            </div>

            <div>
              <div>
                <p id="facilityListLoadingMessage" class="hidden">Loading facilities...</p>
              </div>

              <div class="control form-group select-control selectedFacility" role="combobox">
                <label for="selectedFacility">Facility *</label>
                <select
                class="form-control select2-hidden-accessible"
                id="selectedFacility"
                name="selectedFacility"
                title="Facility edit. Press enter to activate"
                required=""
                size="1" tabindex="-1" aria-hidden="true">





{{#each facilities}}<option value={{_id}}>{{facilityName}}</option>{{/each}}








                  <!--
                  <option value="507">
                    KODAK
                  </option>

                  <option value="613">
                    MARTINSBURG
                  </option>

                  <option value="500">
                    PANORAMA
                  </option>

                  <option value="688">
                    WASHINGTON
                  </option>
                  -->

                </select>

                <!--
                <span class=
                "select2 select2-container select2-container--default" role="application"
                dir="ltr" style="width: 100%;">
                  <span class="selection">
                    <span class=
                "select2-selection select2-selection--single" x-is-haspopup="true"
                x-is-expanded="false" title="Facility edit. Press enter to activate"
                tabindex="0" x-is-labelledby=
                "select2-selectedFacility-container">

                      <span class="select2-selection__rendered" id="select2-selectedFacility-container" title="KODAK">KODAK</span>
                    </span>
                  </span>
                </span>
                -->

              </div>
            </div>

            <div class="control form-group input-control accessCode">
              <label for="accessCode">Access code *</label>
              <input type="password"
              autocomplete="off" class="form-control" id="accessCode" name="accessCode"
              maxlength="255" title="Enter in access code" required="" />
            </div>

            <div class="control form-group input-control verifyCode">
              <label for="verifyCode">Verify code *</label>
              <input type="password"
              autocomplete="off" class="form-control" id="verifyCode" name="verifyCode"
              maxlength="255" title="Enter in verify code" required="" />
            </div>

            <div class="control inline-display button-control login">
              <button type="submit" class="btn btn-default signin-button btn btn-primary btn-block" data-dismiss="modal"
              title="Press enter to sign in">Sign In</button>
            </div>

            <div>
              <div class="hidden" id="screenReaderAuthenticating">
                Authenticating
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>


      <div class="modal-footer login-container-footer">
        <div class="all-padding-sm top-padding-no text-center">
          <a id="linkHelp-logon" class="help-icon-link" href=
          "http://vaww.oed.portal.va.gov/pm/iehr/vista_evolution/eHMP/Help_Wiki/Wiki%20Page%20Library/Accessing%20the%20eHMP%20Application.aspx"
          target="helpIconUniqueWindow" title=
          "Press enter to access the help content. You will be redirected to a new browser window.">
          Need Help Logging In?</a>
        </div>

        <div>
          <p class="text-center">VistA Surgery GUI 1.0.0 ------------------------</p>
        </div>
      </div>
    </div>
  </div>
