<h1>About <abbr title="Veterans Health Information Systems &amp; Technology Architecture">VistA</abbr> Surgery</h1>
<h2>Select Patient</h2>
<p class="lead">
Use this document as a way to quickly start any new project.<br>
All you get is this text and a mostly barebones HTML document.
</p>
