      <h3 class="card-title">Special title treatment</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>

      <ul>
      <li><a href="/page1">Index</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/login/">Login</a></li>
      <li><a href="/selpatient/">Select Patieng</a></li>
      <li><a href="http://www.google.com/">Google</a></li>
      </ul>
